@charset "UTF-8";

@media screen and (max-width: 940px) {
    body {
        padding: 0; /* Adiciona espaçamento interno */
        font-size: 1rem; /* Ajusta o tamanho do texto */
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        padding: 10px;
    }

    marquee{
        display: block;
        margin-top: 8px;
        margin-left:5px;
    }

    header h1 {
        font-size: 1em; /* Ajusta o tamanho do título */
    }
    h2{
        display: block;
        font-size: 1.5em;
    }

    header p {
        font-size: 0.8em; /* Reduz o subtítulo */
    }
    div.expose{
        display: flex;
        flex-direction: column;
    }

    img.crep1{
        width: 80%;
        height: 90%;
        border-radius: 10px;
        transition: transform 0.3s;
        margin-top: 10px;
    }

 
    .price p{
        font-size: 0.9rem;
    }
    .cta p{
        margin-bottom: 5px;
        font-size: 0.8em; /* Ajusta o tamanho do texto */
    }
    .contact p{
        font-size: 0.7rem;
        margin-top: 10px;
    }

    .cta{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0 auto;
    }

    iframe#image {
        display: flex;
        width: 180%;
        height: 100vh; 
    }
    #iframepic{
        display: flex;
        align-self: center;
        width:50vw;
        height: 80vh;
    }
    .contact iframe {
        width: 95%; /* Mapa ocupa toda a largura */
        height: 200px; /* Altura ajustada */
    }

    footer {
        font-size: 12px; /* Texto menor no rodapé */
        padding: 10px;
    }
    
    

.marquee{
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 4s linear infinite;
}

@keyframes marquee {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }   
}
a{
    color:#fffb00;
}

a :hover{
    text-decoration: none;
    color: white;
    }
    
    
}