@charset "UTF-8";


@media screen and (max-width: 430px) {
    body {
        padding: 0 10px; /* Adiciona espaçamento interno */
        font-size: 14px; /* Ajusta o tamanho do texto */
    }
    div{
        display: flex;
        flex-wrap: wrap;
    }

    header {
        padding: 10px;
    }

    header h1 {
        font-size: 1.9em; /* Ajusta o tamanho do título */
    }

    header p {
        font-size: 1em; /* Reduz o subtítulo */
    }

    .products img {
        width: 100%; /* Ajusta imagens para preencher a largura */
        margin: 10px 0; /* Espaçamento entre imagens */
    }

    .price, .cta, .contact {
        padding: 10px;
    }
    .price p, .cta p, .contact p {
        font-size: 1.1em; /* Ajusta o tamanho do texto */
    }

    iframe#image {
        width: 100%; /* Ajusta a largura do iframe */
        left: 0;
        top: 0;
        height: auto;
        margin-bottom: 10px;
    }

    .contact iframe {
        width: 100%; /* Mapa ocupa toda a largura */
        height: 300px; /* Altura ajustada */
    }

    footer {
        font-size: 12px; /* Texto menor no rodapé */
        padding: 10px;
    }
}



.marquee{
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 5s linear infinite;
}

@keyframes marquee {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }   
    
    
a{
    color:#fffb00;
}
a:hover{
    text-decoration: none;
    color: white;
}

}